%nav.animated.bounceInDown
 %ul
  %li
   %a{:href => "#profile"}
    .fa.fa-user
    Profile
  %li
   %a{:href => "#message"}
    .fa.fa-envelope
    Messages
    %span.badge.right 12
  %li.sub-menu
   %a{:href => "#settings"}
    .fa.fa-gear
    Settings
    .fa.fa-caret-down.right
   %ul
    %li
     %a{:href => "#settings"}
      Account
    %li
     %a{:href => "#settings"}
      Profile
    %li
     %a{:href => "#settings"}
      Secruity &amp; Privacy
    %li
     %a{:href => "#settings"}
      Password
    %li
     %a{:href => "#settings"}
      Notification
  %li.sub-menu
   %a{:href => "#message"}
    .fa.fa-question-circle
    Help
    .fa.fa-caret-down.right
   %ul
    %li
     %a{:href => "#settings"}
      FAQ's
    %li
     %a{:href => "#settings"}
      Submit a Ticket
    %li
     %a{:href => "#settings"}
      Network Status
  %li
   %a{:href => "#message"}
    .fa.fa-sign-out
    Logout